In [1]:
library(tibble)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
files <- dir(path="outs-mapped-cluster1", pattern="*-metadata.tsv", full.names=TRUE,)

In [3]:
tables <- lapply(files, read.table)

In [4]:
combined <- do.call(what = rbind, args=tables)

In [5]:
dim(combined)
sapply(tables, dim)

[1] 36474     9

     [,1] [,2]  [,3] [,4]
[1,] 7987 11243 3442 13802
[2,]    9     9    9     9

In [6]:
tbl <- rownames_to_column(combined, "cell_barcode") |> 
    mutate(in_trm1_cluster = best_target_cluster) |>
    select(-overlap_target_cluster, -best_target_cluster)

In [7]:
head(tbl)

  cell_barcode                              orig.ident     nCount_RNA
1 SPIRT1Pre-PBMC_AAACAAGCATTGAAGTACTTTAGG-1 SPIRT1Pre-PBMC 2402
2 SPIRT1Pre-PBMC_AAACGTTCACATACCTACTTTAGG-1 SPIRT1Pre-PBMC 3942
3 SPIRT1Pre-PBMC_AAACTGTCACATAGTGACTTTAGG-1 SPIRT1Pre-PBMC 3687
4 SPIRT1Pre-PBMC_AAACTGTCACGCCACTACTTTAGG-1 SPIRT1Pre-PBMC 1114
5 SPIRT1Pre-PBMC_AAAGCGAAGCAGCCAAACTTTAGG-1 SPIRT1Pre-PBMC 3694
6 SPIRT1Pre-PBMC_AAAGCGAAGCTCATTGACTTTAGG-1 SPIRT1Pre-PBMC 3048
  nFeature_RNA percent.mt predicted.ID RNA_snn_res.0.5 seurat_clusters
1 1589         2.373022   NA           2               2
2 2290         1.547438   NA           1               1
3 2126         2.685110   NA           1               1
4  777         4.398564   NA           4               4
5 2131         1.976178   NA           5               5
6 1992         2.723097   NA           2               2
  in_trm1_cluster
1 FALSE
2 FALSE
3 FALSE
4 FALSE
5 FALSE
6 FALSE

In [8]:
write.table(
    tbl, 
    file = "outs-mapped-cluster1/mapped-trm1-combined.tsv", 
    sep="\t", 
    row.names=FALSE,
    quote=FALSE
)

In [11]:
summary <- group_by(tbl, orig.ident) |> summarize(
    in_trm1_cluster = sum(in_trm1_cluster),
    total_cells = n()
)
summary

   orig.ident        in_trm1_cluster total_cells
1  SPIRT1Mid-PBMC      1             1818
2  SPIRT1Mid-Skin375 219             2588
3  SPIRT1Pre-PBMC      0              886
4  SPIRT1Pre-Skin350 206             2695
5  SPIRT2Mid-PBMC      3             1427
6  SPIRT2Mid-Skin384 375             2568
7  SPIRT2Pre-PBMC     14             1691
8  SPIRT2Pre-Skin362 680             5557
9  SPIRT4Mid-PBMC      4              733
10 SPIRT4Mid-Skin396  60              214
11 SPIRT4Pre-PBMC      5              475
12 SPIRT4Pre-Skin365 425             2020
13 SPIRT5Mid-PBMC     86             1832
14 SPIRT5Mid-Skin397 539             3044
15 SPIRT5Pre-PBMC     89             1920
16 SPIRT5Pre-Skin336 799             7006

In [ ]:
summary